.header {
	min-height: 100vh;
	width: 100%;
	background-color: $primary-color;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__main {
		text-align: center;
	}
	&__scroll {
		@include font($fz: 1.4rem, $fc: $secondary-color, $ls: .2em);

		&:after {
			content: ">";
			display: block;
			transform: rotateZ(90deg);
			line-height: 1;
		}
		@include hover {
			opacity: .7;
		}
	}
}
.slogan {

	&__title {
		@include font($ff: $title-ff, $fz: 3.6rem, $fc: $secondary-color, $fw: 700, $ls: .1em);
		margin: 25px 0 15px;
		text-transform: uppercase;
		@media screen and (min-width: 320px) {
			font-size: 4rem;
		}
		@media screen and (min-width: 576px) {
			font-size: 4.8rem;
		}
	}
	&__subtitle {
		@include font($ff: $title-ff, $fz: 1.8rem, $fc: $secondary-color, $ls: .3em);
		@media screen and (min-width: 576px) {
			font-size: 2.2rem;
		}
	}
}
.search {
	margin: 55px auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 760px) {
		flex-direction: row;
	}

	&__input {
		border: none;
		height: 60px;
		text-align: center;
		letter-spacing: 0.2em;
		padding: 0 10px;

		&::placeholder {
			@media screen and (min-width: 320px) {
				font-size: 1.2rem;
			}
			@media screen and (min-width: 765px) {
				font-size: 1.4rem;
			}
		}

		@media screen and (min-width: 320px) {
			width: 280px;
			font-size: 1.2rem;
		}
		@media screen and (min-width: 768px) {
			width: 300px;
			font-size: 1.4rem;
		}


    }
    &__btn {
        border: $border-width solid $secondary-color;
		background-color: $primary-color;
		text-transform: uppercase;
		padding: 1.2em 2.5em;
		height: 60px;
		max-width: 130px;
		margin-top: 20px;
		@include font($btn-ff, 1.4rem, $secondary-color);
		@media screen and (min-width: 760px) {
			margin-top: 0;
		}

		@include tr;
		@include hover {
			border-color: darken($color: $primary-color, $amount: 5);
			border-left-color: $secondary-color;
			background-color: darken($color: $primary-color, $amount: 5);
		}
    }
}
.logo {
	text-transform: uppercase;
	@include font($fz: 2.4rem, $fc: $secondary-color, $fw: 700, $lh: 80px);
	margin: 0;
	padding: 0;
	display: inline-block;
}