$social-size: 16px;

.social {
    list-style: none;
    padding: 0;
    margin: 30px;
    text-align: center;


    &__item {
        display: inline-block;
    }
    &__item + &__item {
        margin-left: 25px;
    }

    &__link {
        display: inline-block;
        fill: $body-color;
        text-decoration: none;
        width: $social-size;
        height: $social-size;
        
        @include tr;
        @include hover {
            fill: $primary-color;
        }
    }
}