
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');


$title-ff: 'Josefin Sans', sans-serif;
$body-ff: 'Josefin Sans', sans-serif;
$btn-ff: 'Aleo', serif;

$body-color: #333333;
$primary-color: #ffcc00;
$secondary-color: #fff;

$dark-gray: #666666;
$medium-gray: #898f8f;
$light-gray: #cccccc;

$border-width: 1px;

$body-bg: $secondary-color;