@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');


$title-ff: 'Josefin Sans', sans-serif;
$body-ff: 'Josefin Sans', sans-serif;
$btn-ff: 'Aleo', serif;

$body-color: #e8e8e8;
$primary-color: #5474fd;
$secondary-color: #fff;

$border-width: 1px;

$body-bg: #232323;
$title-color: $secondary-color;
