@import 'normalize';
@import 'variables';
@import 'mixins';
// @import 'socials';
@import 'header';

* {
  	box-sizing: border-box;
}

html {
	  font-size: 10px;
	  scroll-behavior: smooth;
}
body {
	@include font($body-ff, 1.6rem, $body-color);
	background-color: $body-bg;
}
h2 {
	margin: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}
  
.btn {
	border: none;
	text-transform: uppercase;
	width: 225px;
	padding: 1.2em 2.5em;
	height: 60px;
	text-align: center;
	@include font($btn-ff, 1.4rem, $secondary-color);
	letter-spacing: .075em;
	background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%);	
	// position: relative;
	// z-index: 2;

	// &:before {
	// 	content: "";
	// 	@include posA(0, 50%, $delta_y: 0);
	// 	width: 275px;
	// 	height: 60px;
	// 	z-index: 0;
	// 	background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%);
	// }
	@include hover {
		box-shadow: inset 0 0 4px #fff;
	}
}


.section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 120px 0;

	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
	}
	&__col {

		width: calc(50% - 15px);

		& img:first-of-type {
			padding-left: 65px;
		}
	}

	&__title {
		padding: 90px 0 70px;
		@include font ($btn-ff, 3.6rem, $secondary-color);
	}

	&--mask {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .7);
		}
	}
}

.align-right {
	float: right;

	
	&:before,
	&:after {
		content: "";
		display: table;
		clear: right;
	}
}


.chooseUs {

	p {
		letter-spacing: .1em;
		padding-bottom: 40px;
		margin: 0;
	}
}

.separator {

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;

		& svg {
			margin-bottom: 35px;
		}
		& span {
			@include font($btn-ff, 3.6rem, $fc: $body-color);
		}
	}
}

#search {
	fill: $primary-color;
}
#okay {
	fill: #ff6363;
}
#like {
	fill: #00a2ff;
}

.discription {
	background-color: rgba($color: $body-bg, $alpha: .9);
	margin-top: 120px;
	padding: 50px 30px;
}