@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'socials';
@import 'header';

* {
  	box-sizing: border-box;
}

html {
	  font-size: 10px;
	  scroll-behavior: smooth;
}
body {
	@include font($body-ff, 1.6rem, $body-color);
	background-color: $body-bg;
}
h2 {
	margin: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 5%;

	@media screen and (min-width: 992px) {
		margin: 0 auto;
		max-width: 1170px;
		padding: 0 25px;
	}
	@media screen and (min-width: 1200px) {
		padding: 0 15px;
	}
}
  
.btn {
	border: none;
	text-transform: uppercase;
	width: 225px;
	padding: 1.2em 2.5em;
	height: 60px;
	text-align: center;
	@include font($btn-ff, 1.4rem, $secondary-color, $ls: .075em);
	background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%);	
	// position: relative;
	// z-index: 2;

	// &:before {
	// 	content: "";
	// 	@include posA(0, 50%, $delta_y: 0);
	// 	width: 275px;
	// 	height: 60px;
	// 	z-index: 0;
	// 	background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%);
	// }
	// @include hover {
	// 	box-shadow: inset 0 0 4px #fff;
	// }
}


.section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 50px 0;
	@media screen and (min-width: 576px) {
		padding: 120px 0;
	}

	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;

		@media screen and (min-width: 320px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		@media screen and (min-width: 992px) {
			flex-direction: row;
			text-align: left;
		}
	}
	&__col {
		@media screen and (min-width: 992px) {
			width: calc(50% - 15px);
		}
	}

	&__title {
		padding: 0 0 70px;
		@include font ($btn-ff, 3.6rem, $secondary-color);

		&--custom-gap {
			padding: 90px 0 70px;
		}
		&--center {
			text-align: center;
			position: relative;
			z-index: 1;
		}
	}
	
	&--mask {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .7);
		}
	}
}

.chooseUs {

	p {
		letter-spacing: .1em;
		padding-bottom: 40px;
		margin: 0;
	}

	&__images {
		margin-top: 30px;
		@media screen and (min-width: 992px) {
			margin-top: 0;
		}
	}

	&__image {
		&-wraper {
			display: inline-block;
			max-width: 250px;
			min-height: 220px;
			margin-top: 10px;
			overflow: hidden;
			text-align: center;
			@media screen and (min-width: 576px) {
				min-width: 350px;
			}
			@media screen and (min-width: 768px) {
				min-width: 350px;
			}
		}
		&--align-right {
			@media screen and (min-width: 992px) {
				margin-left: 65px;
			}
		}
	}
	@media screen and (min-width: 992px) {
		&-wraper + &-wraper {
			margin-left: 65px;
		}
	}
}

.separator {

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		& + & {
			margin-top: 50px;
		}
		& svg {
			margin-bottom: 35px;
		}
		& span {
			@include font($btn-ff, 3.6rem, $fc: $body-color);
		}
	}
}

#search {
	fill: $primary-color;
}
#okay {
	fill: #ff6363;
}
#like {
	fill: #00a2ff;
}

.discription {
	background-color: rgba($color: $body-bg, $alpha: .9);
	margin-top: 120px;
	padding: 50px 30px;
	text-align: left;

	&__title {
		@include font($fz: 2rem, $ls: .075em);
		margin: 0;
	}
	&__subtitle {
		text-transform: uppercase;
		@include font($fz: 2rem);
		margin: 35px 0;
	}
	&__text {
		margin-bottom: 50px;
	}
}

.review {
	position: relative;
	z-index: 1;
	display: flex;
	background-color: #333333;

	@media screen and (min-width: 320px) {
		flex-direction: column;
	}
	&__img {
		height: 100%;
		width: 100%;

		&--wraper {
			overflow: hidden;
			min-width: 60%;
			max-height: 280px;

			@media screen and (min-width: 992px) {
				max-width: 445px;
				max-height: 280px;
			}
		}
	}
	&__text {
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (min-width: 576px) {
			padding: 15px 50px 15px 60px;
		}
	}
	&__name {
		@include font($fz: 2rem, $fc: #fefefe);
		text-transform: uppercase;
		margin: 0 0 15px;
	}

	&__blockquote {
		margin: 0;
		padding: 0;
		@include font($fz: 1.6rem, $fc: $body-color);

		&:before {
			content: '"';
			@include font($ff: $btn-ff, $fz: 3.6rem, $fc: $primary-color);
			@media screen and (min-width: 576px) {
				font-size: 1.6rem;
			}
		}
	}
}

.footer {
	padding: 120px 0 50px;
	text-align: center;

	.slogan {
		&__title {
			font-size: 2.4rem;
			letter-spacing: .14em;
		}
		
		&__subtitle {
			font-size: 1.4em;
			letter-spacing: .1em;
			@media screen and (min-width: 576px) {
				font-size: 1.6rem;
			}
		}
	}
}
